name: Build Frontend Assets

on:
  push:
    branches: [ "main" ] # Or "master", depending on your branch name
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install Dependencies
      run: npm install

    - name: Run Build
      run: npm run build

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: build-assets
        path: public/build
